<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="static/icon1.png" type="image/png" />
    <title>Virtual Health Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<style>
    .logo {
        width: 50px;
        height: 50px;
        color: #60A5FA;
        margin-top: 0;
        margin-left: 2px;
    }

    .myimg {
        width: 50px;
        height: 50px;
        border: 2px solid #60A5FA;
        border-radius: 25px;
    }

    .navbar-custom {
        background-color: #60A5FA;
    }
</style>

<body>
    <header>
        <nav class="section__container nav__container">
            <div class="nav__logo">VirtualHealth <span>Hub</span></div>
            <ul class="nav__links">
                <li class="link"><a href="#home">Home</a></li>
                <li class="link"><a href="#about">About Us</a></li>
                <li class="link"><a href="#service">Services</a></li>
                <li class="link"><a href="#pages">Pages</a></li>
                <li class="link"><a href="#blog">Blog</a></li>
                <li class="link"><a href="#ai">AI</a></li>
                <!-- <li class="link"><a href="#bot">Chat bot</a></li> -->
                <li class="link"><a href="#ass">AI assistent</a></li>
            </ul>
            <button class="btn">Contact Us</button>
        </nav>
        <div class="section__container header__container" id="home">
            <div class="header__content">
                <h1>Welcome to VirtualHealth Hub</h1>
                <p>
                    At VirtualHealth Hub, we are redefining healthcare with cutting-edge artificial intelligence and a
                    human touch. Our mission is to provide seamless, personalized, and accessible healthcare solutions
                    tailored to your needs.
                    With VirtualHealth Hub, you are more than just a patient; you are an empowered partner in your
                    health
                    journey. Together, let’s achieve better health outcomes and create a healthier tomorrow.
                </p>
                <!-- <button class="btn">See Services</button> -->
            </div>
            <div class="header__form">
                <form>
                    <h4>Book Now</h4>
                    <input type="text" placeholder="First Name" />
                    <input type="text" placeholder="Last Name" />
                    <input type="text" placeholder="Address" />
                    <input type="text" placeholder="Phone No." />
                    <button class="btn form__btn">Book Appointment</button>
                </form>
            </div>
        </div>
    </header>

    <section class="section__container service__container" id="service">
        <div class="service__header">
            <div class="service__header__content">
                <h2 class="section__header">Our Special service</h2>
                <p>
                    Beyond simply providing medical care, our commitment lies in
                    delivering unparalleled service tailored to your unique needs.
                </p>
            </div>
            <!-- <button class="service__btn">Ask A Service</button> -->
        </div>
        <div class="service__grid">
            <div class="service__card">
                <span><i class="ri-microscope-line"></i></span>
                <h4>Laboratory Test</h4>
                <p>
                    Accurate Diagnostics, Swift Results: Experience top-notch Laboratory
                    Testing at our facility.
                </p>
                <a href="#">Learn More</a>
            </div>
            <div class="service__card">
                <span><i class="ri-mental-health-line"></i></span>
                <h4>Health Check</h4>
                <p>
                    Our thorough assessments and expert evaluations help you stay
                    proactive about your health.
                </p>
                <a href="#">Learn More</a>
            </div>
            <div class="service__card">
                <span><i class="ri-hospital-line"></i></span>
                <h4>General Dentistry</h4>
                <p>
                    Experience comprehensive oral care with Dentistry. Trust us to keep
                    your smile healthy and bright.
                </p>
                <a href="#">Learn More</a>
            </div>
        </div>
    </section>
    <section class="section__container about__container" id="about">
        <div class="about__content">
            <h2 class="section__header">About Us</h2>
            <p>
                Welcome to VirtualHealth Hub, your trusted platform for reliable and comprehensive healthcare solutions.
            </p>
            <p>
                Our Commitment:
                We are dedicated to promoting wellness and providing valuable resources to empower you on your health
                journey.
            </p>
            <p>
                What We Offer :
                1. Expert Insights: Explore our extensive collection of expertly curated articles and guides on a wide
                range of health topics.
                2. Educational Resources: From understanding common medical conditions to tips for maintaining a healthy
                lifestyle, our content is designed to educate, inspire, and support informed decision-making.
                3. Wellness Advice: Discover practical health tips and lifestyle guidance to enhance your physical and
                mental well-being.
            </p>
            <p>Why Choose Us?
                At VirtualHealth Hub, we believe in the power of small, meaningful changes to create significant
                improvements in your quality of life. Our goal is to guide you on your path to becoming a healthier and
                happier you.</p>
        </div>
        <div class="about__image">
            <img src="/static/AI.jpg" alt="about" />
        </div>
    </section>

    <section class="section__container why__container" id="blog">
        <div class="why__image">
            <img src="/static/choose-us.jpg" alt="why choose us" />
        </div>
        <div class="why__content">
            <h2 class="section__header">Why Choose Us</h2>
            <p>
                At VirtualHealth Hub, we go beyond traditional healthcare solutions to deliver a smarter, more
                personalized experience.
            </p>
            <div class="why__grid">
                <span><i class="ri-hand-heart-line"></i></span>
                <div>
                    <h4>Intensive Care</h4>
                    <p>
                        Our Intensive Care Unit is equipped with advanced technology and
                        staffed by team of professionals
                    </p>
                </div>
                <span><i class="ri-truck-line"></i></span>
                <div>
                    <h4>Free Ambulance Car</h4>
                    <p>
                        A compassionate initiative to prioritize your health and
                        well-being without any financial burden.
                    </p>
                </div>
                <span><i class="ri-hospital-line"></i></span>
                <div>
                    <h4>Medical and Surgical</h4>
                    <p>
                        Our Medical and Surgical services offer advanced healthcare
                        solutions to address medical needs.
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- chat bot -->

    <section class="section__container why__container" id="bot">

        <script type="text/javascript">
            (function (d, m) {
                var kommunicateSettings =
                    { "appId": "5bf16c459503bd7fcf953af599d90f59", "popupWidget": true, "automaticChatOpenOnNavigation": true };
                var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
                s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
                var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
                window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
            /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        </script>
    </section>







    <section class="section__container doctors__container" id="pages">
        <div class="doctors__header">
            <div class="doctors__header__content">
                <h2 class="section__header">Our Special Doctors</h2>
                <p>
                    We take pride in our exceptional team of doctors, each a specialist
                    in their respective fields.
                </p>
            </div>
            <div class="doctors__nav">
                <span><i class="ri-arrow-left-line"></i></span>
                <span><i class="ri-arrow-right-line"></i></span>
            </div>
        </div>
        <div class="doctors__grid">
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="/static/doctor-1.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. Emily Smith</h4>
                <p>Cardiologist</p>
            </div>
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="/static/doctor-2.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. James Anderson</h4>
                <p>Neurosurgeon</p>
            </div>
            <div class="doctors__card">
                <div class="doctors__card__image">
                    <img src="/static/doctor-3.jpg" alt="doctor" />
                    <div class="doctors__socials">
                        <span><i class="ri-instagram-line"></i></span>
                        <span><i class="ri-facebook-fill"></i></span>
                        <span><i class="ri-heart-fill"></i></span>
                        <span><i class="ri-twitter-fill"></i></span>
                    </div>
                </div>
                <h4>Dr. Michael Lee</h4>
                <p>Dermatologist</p>
            </div>
        </div>
    </section>




    <!-- AI care section -->


    <section class="section__container" id="ai">
        <h1 class="mt-6 my-6 text-center text-green">AI Care</h1>

        <div class="container my-4 mt-4"
            style="background: #8ec1ff; color: white; border-radius: 20px; padding: 40px; min-height: 200px;">
            <form action="/predict#ai" method="post">
                <div class="form-group">
                    <label for="symptoms">Select Symptoms:</label>
                    <input type="text" class="form-control" id="symptoms" name="symptoms"
                        placeholder="type systems such as itching, sleeping, aching etc">
                </div>




                <!-- Display the transcribed text here -->
                <div name="mysysms" id="transcription"></div>

                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
                <br>

                <button type="submit" class="btn btn-danger btn-lg"
                    style="width: 100%; padding: 14px; margin-bottom: 5px;">Predict</button>
            </form>
        </div>

        {% if predicted_disease %}

        <h1 class="text-center my-4 mt-4">Our AI System Results</h1>
        <div class="container">

            <div class="result-container"
                style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#diseaseModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8ec1ff;color:white;">Disease</button>
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#descriptionModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8ec1ff ;color:white;">Description</button>
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#precautionModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8ec1ff ;color:white;">Precaution</button>
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#medicationsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px;border-radius:5px; background:#8ec1ff ;color:white;">Medications</button>
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#workoutsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8ec1ff ;color:white;">Natural Healing</button>
                <button class="toggle-button" data-bs-toggle="modal" data-bs-target="#dietsModal"
                    style="padding:4px; margin: 5px 40px 5px 0; font-size:20px;font-weight:bold; width:140px; border-radius:5px; background:#8ec1ff;color:white;">Diets</button>
            </div>

        </div>

        {% endif %}


        <!-- Disease Modal -->
        <div class="modal fade" id="diseaseModal" tabindex="-1" aria-labelledby="diseaseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white; border: 50px;">
                        <!-- Set header background color inline -->
                        <h5 class="modal-title" id="diseaseModalLabel">Predicted Disease</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="background-color: modal-body-color">
                        <!-- Set modal body background color inline -->
                        <p>{{ predicted_disease }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Description Modal -->
        <div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white;">
                        <h5 class="modal-title" id="descriptionModalLabel">Description</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>{{ dis_des }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Precaution Modal -->
        <div class="modal fade" id="precautionModal" tabindex="-1" aria-labelledby="precautionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white;">
                        <h5 class="modal-title" id="precautionModalLabel">Precaution</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for i in dis_pre %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Medications Modal -->
        <div class="modal fade" id="medicationsModal" tabindex="-1" aria-labelledby="medicationsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white;">
                        <h5 class="modal-title" id="medicationsModalLabel">Medications</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for i in dis_med %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!-- Workouts Modal -->
        <div class="modal fade" id="workoutsModal" tabindex="-1" aria-labelledby="workoutsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white;">
                        <h5 class="modal-title" id="workoutsModalLabel">Natural Healing</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for i in dis_wrkout %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Diets Modal -->
        <div class="modal fade" id="dietsModal" tabindex="-1" aria-labelledby="dietsModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #8ec1ff; color:white;">
                        <h5 class="modal-title" id="dietsModalLabel">Diets</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for i in dis_diet %}
                            <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

    </section>



<!-- AI assistent -->

    <section class="section__container" id="ass">
        <h1 class="mt-8 my-8 text-center text-green"></h1>
        <div id="chatbot-container">
            <iframe src="https://brunda-ai-health-assistant.netlify.app/"
                style="width: 100%; height: 700px; border: 1px solid #ddd;" title="Healthcare Chatbot"></iframe>
        </div>
    </section>








    <!--footer section  -->>
    <footer class="footer">
        <div class="section__container footer__container">
            <div class="footer__col">
                <h3>Virtual Health<span>Hub</span></h3>
                <p>
                    We are honored to be a part of your healthcare journey and committed
                    to delivering compassionate, personalized, and top-notch care every
                    step of the way.
                </p>
                <p>
                    Trust us with your health, and let us work together to achieve the
                    best possible outcomes for you and your loved ones.
                </p>
            </div>
            <div class="footer__col">
                <h4>About Us</h4>
                <p>Home</p>
                <p>About Us</p>
                <p>Work With Us</p>
                <p>Our Blog</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="footer__col">
                <h4>Services</h4>
                <p>Search Terms</p>
                <p>Advance Search</p>
                <p>Privacy Policy</p>
                <p>Suppliers</p>
                <p>Our Stores</p>
            </div>
            <div class="footer__col">
                <h4>Contact Us</h4>
                <p>
                    <i class="ri-map-pin-2-fill"></i> 123, London Bridge Street, London
                </p>
                <p><i class="ri-mail-fill"></i> support@care.com</p>
                <p><i class="ri-phone-fill"></i> (+012) 3456 789</p>
            </div>
        </div>
        <div class="footer__bar">
            <div class="footer__bar__content">
                <p>Copyright © 2023 Web Design Mastery. All rights reserved.</p>
                <div class="footer__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>